
.header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}


.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 1rem;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
}



.dog-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  font-family: sans-serif;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  
}


.dog-details .dog-image-container {
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.dog-details .dog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dog-details .dog-info-container {
  flex: 1;
}

.dog-details .dog-name {
  font-size: 36px;
  margin-bottom: 20px;
}

.dog-details .dog-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.dog-details .dog-info-item {
  font-size: 18px;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.dog-details .present {
  color: white;
  background-color: green;
}

.dog-details .not-present {
  color: white;
  background-color: red;
}